body{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #EEE;
    padding-top: 100px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color:#13054f;
    
    display: flex;
    justify-items: center;
    padding: 20px 0 20px 0 ;
    
   
}
div .icon{
    display: inline;
    color: transparent;
    -webkit-text-stroke: 1px #000; 
   
}
div .icon i{
    font-size: 20px;
    padding: 15px;
}
div .icon a{ 
    text-decoration: none;
    color: #EEE;
    padding:38px 10px 35px 10px ;

}
div .menu ul li{
    display: inline;
    list-style: none;
   
}
.menu a{
    text-decoration: none;
    color: #EEE;
    padding:36px 10px 37px 10px ;
    
}
.menu{
    margin-left: -40px;
}
img {
    width: 50px;
    height: 50px;
}
div .icon a:hover{
    background-color: #ffe4c4;
    color: #000;
}
div .menu ul li a:hover{
    background-color:#ffe4c4;
    color: #000;
    
}
.menu a:active{
    background-color:#ffe4c4 ;
}
.search{
margin-left: auto;
margin-right: 5px;

}

.container .search input[type=text]{
    
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #13054f;
    border-radius: 5px;
    background-color: #281481;
}
/*dropdown menu style *
#courses{
    position: relative;
}
.dropdown_menu{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: none;
}
#courses:hover .dropdown_menu {
    display: block;
}
.dropdown_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#courses a:hover .dropdown_menu{
    display: flex;
    margin-top: 0;
    padding: 0;
}
.dropdown_content li{
   margin-bottom: 10px;
   font-weight: 600;
   color: #2c2c2c;
}
.dropdown_content li a:hover{
    background-color: #555;
} */ 

/*Banner style*/
.banner_img{
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.banner_img #banner_id{
    width: 100%;
    height: fit-content;
    display: block;
}
.banner_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    text-align: center;
    color: FFF;
}
.banner_logo{
    width: 300px;
    margin-bottom: 10px;
}
.banner_content h1 {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFF;
}
/*-------------------------------------------------*/
/*Marks and Result page styles */
.current_subj,.previous_subj{
    display: flex;
    justify-content: center;
   
}
h3{
    text-align: center;
    margin-top: 50px;
}
.unit_table,tr,td,th{
    border-bottom: 1px solid #555; 
    border-collapse: collapse;
}
.unit_table td,tr,th{
    padding:15px
}
.unit_table tr:hover{
    background-color: #ffe4c4;
}
th{
    background-color: #13054f;
    color: #ffe4c4;
}
td:first-child:hover{
    background-color: #cf632d;
    cursor: pointer;
}
.previous_subj td:last-child{
   background-color: green;
}
/*-----------------------------------------------*/
/* help and support styles  */
/* style the container*/
.form-container{
    border-radius: 5px;
    background-color:#e0dedc;
    padding: 20px;
    margin: 40px 350px 0 350px;
}

.row input[type=text], .row select, .row textarea{
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    
}
/* style the lable to display next to the inputs*/
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 20px;
}
input[type=text], select, textarea,label{
    margin-top: 10px;
}
/*Form heading style*/
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    color: #13054f;
}
form{
    margin-top: 20px;
}
/*floating column for labels: 25% width */
.col-25{
    float: left;
    width:25%;
    margin-top: 6px;
}/* floating columns for inputs: 75%*/
.col-75{
    float: left;
    width:75%;
    margin-top: 6px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
textarea #form_subject{
    height: auto;
}
#submit_btn{
    width: 15%;
    padding: 15px;
    float: right;
    margin-top: 10px;
    border: none;
    background-color: #13054f;
    color: #EEE;
}
#submit_btn:hover{
    background-color:#f0986c;
    color: #000;
}


/* index.html Body Content Style */
.content{
    margin-top: 20px;
}
.tow-columns{
    background-color: #EEE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;  
    padding: 30px;
}
.tow-columns .content-items{
    background-color: #13054f;
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    color: #FFF;
    
}
.tow-columns div span{
    text-decoration: underline;
}
.content-meta{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.content-items span:hover{
    color: #cf632d;
    font-weight: bolder;
}

/*Footer Styles */
.footer{
     background-color: #AAA;
     padding: 20px 0;
     margin-bottom: 0;
     margin-top: 40px;
}
/*footer flex-container to display footer items besides eachother*/
.flex-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
/*Footer TAFEvictoria logo resolution change*/
.footer_img #logovicgov {
    width: 30%;
    margin-right: 15px;
}
/*footer childsafe image resolution change*/
.footer_img #childsafe_logo {
    width: 60%;
    margin-right: 10px;
}
/*footer social media icon styles*/
.social-media i{
    font-size: 30px;
    color:#13054f;
    margin-left: 15px;
    cursor: pointer;
}
/* footer Paragraph style */
#footer_text p{
    padding: 10px 50px 40px 50px;
    text-align: center;
}

/*-----------------------------------------------*/
/*Enrolment Page Style*/
.marks_container{
    width: 90%;
    background-color: #fff;
    padding: 1px 10px 3px 10px;
    margin: 10px 20px 10px 20px;
    margin-left: 50px;
}
.top_bar{
    width: 100%;
    background-color: #13054f;
    color: #EEE;
    border-radius: 8px;
}
.top_bar h1{
    padding-top: 5px;
    color: #7ac4f5;
}
.top_bar h2{
    color: #FFF;
    text-align: left;
    padding-bottom: 5px;
}
.top_bar h1, h2{
    margin:20px;
}
.starred_course{
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: column;
    border: 1px solid #7ac4f5;
    border-radius: 8px;
    padding-bottom: 20px;;
}
.starred_course h4{
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
}
.starred_course img{
    width: 10%;
    height: 20%;   
}
.starred_course_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_content{
    position: relative;
    min-width: 0;
    border: 1px solid #7ac4f5;
    border-radius: 8px;
    margin-top: 20px;
}
.main_content h4{
    margin-left: 15px;
    
}
.main_content #cousrse_list{
    width: 5%;
    padding: 10px;
    margin: 10px; 
    display: inline-block;
}
.main_content .course_search{
    padding: 0;
    
}
.main_content .drpdwn_search{
    position: relative;
    display: flex;
    flex-direction: row;
}
.main_content #sort_course{ 
    width: 17%;
}
#card,#cousrse_list, #sort_course, .course_search input{
    border-radius: 10px;
}
#sort_course, #card{
    
    height: 40px;
    margin-left: 10px;
}
#card{
    width: 8%;
}
.course_search input{
    padding:10px;
}




