/*For Tablets with screen (width 1024px)*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    /*-----------index.html--------------*/
    header .search{
        display: none;
    }
     .banner_content{
        position: absolute;
        top: 28%;
        left: 50%;
    }
    .banner{
        height: 50%;
    }
    .content .tow-columns{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .content .tow-columns .content-items{
        width: 60%;
        height: 8rem;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    /*----------------footer------------------*/
    
    /*------------enrolement.html---------------------*/
    .marks_container{
        margin-left: auto;
        margin-right: auto;
    }
    .card_col{
        margin-left: auto;
        margin-right: 15px ;
    }
    .main_content #cousrse_list{
        width: 10%;
    }
   /*------------------student_detail.html-----------------*/
   .details_container{
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 11rem;
    height: fit-content;
    padding: 50px 0  50px 0;
   }
   .details_container .column_75{
    margin-left: 10px;
   }
   .student_table td:first-child{
    width: 40%;
    padding-right: 80px;
   }
   /*-------------------marks_result.html-----------------*/
  .units_container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
   
   /*--------------help_support.html--------------*/
   .form-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   }
   
}




